<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogger Me</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap"
    rel="stylesheet"/>
  <link rel="stylesheet" href="/style/style.css">
</head>

<body>
  <div class = "wrapper">
     <nav class="nav">
    <a  class = "link" href="/">Home</a>
    <a class = "link" href="/dashboard">Dashboard</a>
    <a class = "link" href="/login">Login</a>
    <a class = "link" href="/logout" id="logout-link">Logout</a>
    </nav>
    <header class="header">
    <h1 class="h1">Personal Blogger Board:</h1>
  </header>
</div>
<div class = "card">
  <button class = "btn"><a class = "link" href = "/dashboard/new">Create Post</a></button>
</div>

  <main class="main">
    {{User.username}}
    {{{body}}}
  </main>

  <footer class="footer">
   &copy; That's Blogger All Folks
  </footer>
</body>
<script src="/js/logout.js"></script>
<script src = "/js/delete.js"></script>
<script src = "/js/edit.js"></script>
<script src = "/js/comment.js"></script>

</html>
