<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogger Me</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap"
    rel="stylesheet"/>
        <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/style/style.css">
</head>

<body class="wrapper">
    <header class="hero">
    <h1 class="h1">Blogger Me</h1>
  
  <nav class="nav">
    <a  class = "link" href="/">Home</a>
    <a class = "link" href="dashboard">Dashboard</a>
    <a class = "link" href="/login">Login</a>
    <a class = "link" href="/logout" id="logout-link">Logout</a>
    </nav>
</header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    &copy; That's Blogger All Folks
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>