<div class="posts">
  {{#each posts}}
  <article class="card">
    <a class="link" href="/edit/{{post.id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
    </article>
  {{/each}}
</div>